/* import a font*/
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Qwitcher%20Grypen);
/* set the font family */
html,body {
 height: 100%;
  width: 100%;
  background-color: #000;
    font-family: 'Roboto', sans-serif;
    color:rgb(54, 221, 21)
}
/* set the font size to be the same as the height of the window */
html {
 font-size: 100%;
}
header{
    font-family: 'Qwitcher Grypen', sans-serif;
    font-size: 4em;
}
.dice-container{
 perspective: 500px;
 perspective-origin: 50% 50%;
 height: 70%;
width: 100%;
}
.dice-container .dice {
position: relative;
left: 50%;
top: 50%;
height: 200px;
width: 200px;
transform-style: preserve-3d;
cursor: pointer;    
transform: rotateX(-400deg) rotateY(-320deg) rotateZ(-2deg);

}
.dice-container .dice div {
position: absolute;
box-sizing: border-box;
}
.dice span {
    color:rgb(54, 221, 21);
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
} 
.dice-container .dice .front {
    transform: translateZ(100px);
}
.dice-container .dice .back {
    transform: translateZ(-100px) rotateY(180deg); 
}
.dice-container .dice .right {
    transform-origin: top right;
    transform:  rotateY(-270deg) translateX(100px);
}
.dice-container .dice .left {
    transform-origin: center left;
    transform:  rotateY(270deg) translateX(-100px);
}

.dice-container .dice .top {
    transform-origin: top center;
    transform: rotateX(-270deg) translateY(-100px);
}
.dice-container .dice .bottom {
    transform-origin: bottom center;
    transform: rotateX(270deg) translateY(100px);
}

@keyframes rotate {
    0% {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        top:0%
    }
    25% {
        transform: rotateX(45deg) rotateY(65deg) rotateZ(35deg);
        top: 12%;
    }
    40% {
        transform: rotateX(145deg) rotateY(165deg) rotateZ(135deg);
        top: 20%;
    }
    50% {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        top: 50%;
    }
   75%{
        transform: rotateX(276deg) rotateY(256deg) rotateZ(246deg);
        top: 50%;
    }
    100% {
        transform: rotateX(-400deg) rotateY(-320deg) rotateZ(-2deg);
        top: 50%;
    }


}
@keyframes rotate2 {
    0% {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        left: 50%;
        top: 50%;
    }
    20% {
        transform: rotateX(45deg) rotateY(65deg) rotateZ(35deg);
        left: 100%;
        top: 0%;
    }
    40% {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        left : 0%;
        top: 50%;
    }
   60%{
        transform: rotateX(276deg) rotateY(256deg) rotateZ(246deg);
        left: 100%;
        top: 20%;
    }
    80% {
        transform: rotateX(-400deg) rotateY(-320deg) rotateZ(-2deg);
        left:0%;
        top: 70%;
    }
    100% {
        transform: rotateX(-400deg) rotateY(-320deg) rotateZ(-2deg);
        left:100%;
        top: 50%;
    }


}
@keyframes test {
0%{
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    top:0%
}
100%{
    transform: rotateX(-400deg) rotateY(-320deg) rotateZ(-2deg);
    top:65%;
}
}

.faces-container{
    height: 10%;
    width: 50%;
}
.faces-container .dice {
    height: 100%;
    width: 100%;
    cursor: pointer;    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.dice div {
    margin: 5px;
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 2px solid #eee;
    color: #fff;
    background: #000;
    font-family: 'Roboto', sans-serif;
}